.main_content{
  width: 100%;
  min-width: 800px;
  position: absolute;
  padding-left: 8rem;
  padding-top: 5rem;
  padding-right: 0rem;
  background-color: #E0E0E0;
}

#profile_header{
  position: relative;
  width: 100%;
  height: 30rem;
  background-color: #424242;
}



#profile_header_photo{
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: auto;
}

#profile_header:hover #profile_header_photo_upload_button{
  opacity: 1
}


#profile_header_photo_upload_button{
  width: 20rem; height: 4.5rem;
  opacity: 0;
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: rgb(66, 66, 66); /* Fall-back for browsers that don't                  support rgba */
  background: rgba(66, 66, 66, .9);
  -webkit-transition: all 0.2s;
  -moz-transition:  all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}


#profile_header_photo_upload_button span{
  margin-right: 1rem;
}


#profile_photo{
  position: relative;
  z-index: 2;
  width: 20rem;
  height: 20rem;
  background-color: #000;
  top: -10rem;
  left: 5rem;
  border-radius: 1rem;
  border: 0.3rem solid white;
  cursor: pointer;
  background-size: cover;
  overflow: auto;
}


#profile_photo_upload_button{
  width: 10rem; height: 3rem;
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 1.1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: rgb(66, 66, 66); /* Fall-back for browsers that don't                  support rgba */
  background: rgba(66, 66, 66, .9);
  opacity: 0;
  -webkit-transition: all 0.2s;
  -moz-transition:  all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

#profile_photo_upload_button span{
  margin-right: 1rem;
}

#profile_photo:hover #profile_photo_upload_button{
  opacity: 1;
}


#profile_options{
  position: relative;
  height: 5rem;
  background-color: #fff;
  margin-left: 0rem;
  margin-right: 0rem;
  margin-top: 0rem;
  padding-right: 5rem;
  padding-top: 0.5rem;
  top:  -20rem;
}

paper-button.type1 {
  background: #ff3366;
  color: white;
}

paper-button.type1:hover {
  background: #424242;
}


.profile_options_button{
  float: right;
  display: inline-block;
  position: relative;
  text-align: center;
}

#profile_body_wrap{
  position: relative;
  top: -13rem;
}

#profile_description{
  position: absolute;
  z-index: 1;
  width: 20rem;
  height: auto;
  background-color: #fff;
  border-radius: 1rem;
  padding-top: 1rem;
  margin-left: 5rem;
}

#profile_description_name{
  margin: 1rem 1rem 0.5rem 1rem;
}

#profile_description_about{
  margin: 0.5rem 1rem 1rem 1rem;
}

#profile_description_photos_text{
  margin: 2rem 1rem 1rem 1rem;
}

#profile_description_photos{
  margin: 1rem 1rem 1rem 1rem;
  min-height: 270px;
}

.profile_description_photos_box{
  border: 0.1rem solid black;
  width: 8.8rem;
  height: 8.8rem;
  display: inline-block;
  margin: 0.1rem 0.1rem 0.1rem 0.1rem;
  cursor: pointer;
  background-size: cover;
  overflow: auto;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

#profile_description_photos_arrow{
  position: relative;
  bottom: 0rem;
  margin: 2rem 0rem 1rem 0rem;
  text-align: center;
  width: 100%;
}

#profile_description_photos_page_number{
  display: inline-block;
  vertical-align: middle;
  height: 42px;
}

#profile_description_photos_arrow span{
  display: inline-block;
  margin: 0 1rem 0 1rem;
  -webkit-transition: all 0.3s;
  -moz-transition:  all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

#profile_description_photos_arrow span:hover{
  transform: scale(1.1);
  cursor: pointer;
}

#profile_body{
  position: relative;
  width: 100%;
  border-radius: 1rem;
  vertical-align: top;
  padding-left: 30rem;
  padding-right: 5rem;
}

#profile_body_question_wrap{
  background-color: white;
  position: relative;
  padding: 1rem;
  width: 100%;
  border-radius: 1rem;
  height: 200px;
}

#profile_body_question{
  width: 100%;
  height: 100px;
  resize: none;
  overflow: auto;
}

#profile_body_question_text{
  margin-bottom: 0.5rem;
}

#the-count{
  display: inline-block;
}

#profile_body_question_submit{
  display: inline-block;
  float: right;
  margin-top: 0.5rem;

}



#photo_upload_modal .modal-dialog {
  width: 800px;
}

#photo_upload_modal .modal-body {

  height: 40rem;
  overflow-y: auto;
}

#dropzone{
  position: relative;
  width: 100%;
  height: 10rem;
  border: 0.1rem solid #424242;
}


.preview_wrap:hover .preview_name{
    opacity: 1;
}

.preview_wrap:hover .preview_size{
    opacity: 1;
}

.preview_wrap:hover .preview img{
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}



.preview_wrap{
  width: 300px;
  text-align: center;
  height: 300px;
  margin-bottom: 2rem;
  float: left;
}

.caption_wrap{
  width: 430px;
  height: 300px;
  margin-bottom: 2rem;
  float: right;
}

.caption_wrap textarea{
  width: 100%;
  height: 300px;
  resize: none;
  overflow: auto;
}

.photo_remove_button{
  width: 100%;
  margin: 0 0 0 0;
  background-color: #ff3366;
  color: white;
}

.preview_name{
  position: relative;
  top: -150px;
  color: white;
  background-color: #424242;
  line-height: 30px;
  padding: 5px 10px 5px 10px;
  border: 1px solid #424242;
  border-radius: 2em;
  display: inline-block;
  max-width: 200px;
  overflow: hidden;
  border-right: 5px solid transparent;
  text-overflow: ellipsis;
  opacity: 0;
  cursor: default;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.preview_size{
  position: relative;
  top: -140px;
  color: white;
  background-color: #424242;
  line-height: 30px;
  padding: 5px 10px 5px 10px;
  border: 1px solid #424242;
  border-radius: 2em;
  display: inline-block;
  max-width: 200px;
  overflow: hidden;
  border-right: 5px solid transparent;
  text-overflow: ellipsis;
  opacity: 0;
  cursor: default;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.preview-container{
  display: table-cell;
  height: 300px;
  width: 300px;
  background-color: #000;
  text-align: center;
  vertical-align: middle;
  line-height: 300px;
  overflow: hidden;
}


#photo_viewer_modal .modal-content{
  background-color: black;
  text-align: center;
}

#photo_viewer_modal .modal-body{
  padding: 0 0 0 0;
}


#photo_viewer_modal_photo{
  overflow: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#photo_viewer_modal_photo.fillwidth {
  height: 480px;
  width: auto;
}

#photo_viewer_modal_photo.fillheight {
    height: 480px;
    width: auto;
}

#photo_viewer_modal_footer{
  background-color: white;
  text-align: left;
}

#photo_viewer_modal_footer_profile_pic{
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 8.8rem;
  width: 8.8rem;
  border: 1px solid;
}

#photo_viewer_modal_previous{
  position: absolute;
  color: white;
  font-size: 40px;
  top: 210px;
  left: -50px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;

}

#photo_viewer_modal_previous:hover{
  transform: scale(1.1);
}

#photo_viewer_modal_next{
  position: absolute;
  color: white;
  font-size: 40px;
  top: 210px;
  right: -50px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

#photo_viewer_modal_next:hover{
  transform: scale(1.1);
}

#photo_viewer_modal_photo_number{
  position: absolute;
  color: white;
  bottom: 20px;
  margin: 0 auto;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  padding: 3 0 3 0;
}

#photo_viewer_modal_footer_info_wrap{
  position: relative;
  display: inline-block;
  vertical-align: top;
  border: 1px solid;
  width: 45rem;
  height: auto;
}

#photo_viewer_modal_footer_profile_name{
  position: relative;
  display: inline;
}

#photo_viewer_modal_footer_post_date{
  position: relative;
  display: inline;
}


#photo_viewer_modal_footer_post_caption{
  position: relative;
  font-size: 10px;
}


#notificationToast{
  z-index: 100;
  display: inline-block;
  position: fixed;
  background: #323232;
  color: #f1f1f1;
  min-height: 48px;
  min-width: 288px;
  /*padding: 16px 24px 12px;*/
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 2px;
  bottom: -10px;
  left: 12px;
  text-align: left;
  font-size: 14px;
  cursor: default;
  visibility: hidden;
  -webkit-transition: visibility 0.3s, -webkit-transform 0.3s;
  -moz-transition:    visibility 0.3s, -moz-transform 0.3s;
  -ms-transition:     visibility 0.3s, -ms-transform 0.3s;
  -o-transition:      visibility 0.3s, -o-transform 0.3s;
  transition: visibility 0.3s, transform 0.3s;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
}

#notificationToast h2{
  font-size: 12px;

}

#notificationToast.notify{
  visibility: visible;
  -webkit-transform: translateY(-22px);
  transform: translateY(-22px);
}

#confirmationToast{
  z-index: 100;
  display: inline-block;
  position: fixed;
  background: #424242;
  color: #f1f1f1;
  min-height: 48px;
  min-width: 288px;
  /*padding: 16px 24px 12px;*/
  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 2px;
  bottom: -100px;
  left: 12px;
  text-align: center;
  font-size: 14px;
  cursor: default;
  visibility: hidden;
  -webkit-transition: visibility 0.3s, -webkit-transform 0.3s;
  -moz-transition:    visibility 0.3s, -moz-transform 0.3s;
  -ms-transition:     visibility 0.3s, -ms-transform 0.3s;
  -o-transition:      visibility 0.3s, -o-transform 0.3s;
  transition: visibility 0.3s, transform 0.3s;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
}

#confirmationToastMessage{

}


.btn {
  position: relative;
  display: block;
  width: 250px;
  margin: 20px auto;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  color: #000;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transform-style: flat;
  transition: all 250ms ease-out;
}
.btn:before, .btn:after {
  content: "";
  position: absolute;
  z-index: -2;
  transition: all 250ms ease-out;
}

/* Paper effect – slightly raised off background */
.paper {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
  border-color: #dedede;
}

/* Raised effect – pushes up on hover */
.paper-raise:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.paper-raise:hover {

}
.paper-raise:hover:before {
  box-shadow: 0 15px 15px -10px rgba(31, 31, 31, 0.5);
}

#confirmationToastYes{
    margin-top: 2rem;
    position: relative;
    width: 100%;
    background-color: #ff3366;

}


#confirmationToastNo{
  position: relative;
  width: 100%;

}

#confirmationToast.notify{
  visibility: visible;
  -webkit-transform: translateY(-112px);
  transform: translateY(-112px);
}
